<%= include ../partials/header %>
<div class='container'>
<h1><%= event.title %></h1>
<table class='table table-hover' style='background-color:white'>
	<thead>
		<tr>
			<th>Name of Event</th>
			<th>All Day?</th>
		    <th>Starting Time</th>
		    <th>Ending Time</th>
		    <th>Event Link</th>
		    <th width='200'>Description</th>
		    <th>Edit</th>
		    <th>Delete</th>
		</tr>
	</thead>
 	 <tbody>
 	     <tr>
 	     	<td><a href="/events/<%= event._id%>"><%= event.title%></a></td>
 	     	<td><%= event.allDay%></td>
 	     	<td><%= event.start%></td>
 	     	<td><%= event.end%></td>
 	     	<td><a href='<%= event.url%>'><%= event.url%></a></td>
 	     	<td width='200'><%= event.description%></td>
 	     	<td><a href="/events/<%= event._id%>/edit">Edit</a></td>
 	     	<td>
 	     	  <form action='/events/<%= event._id %>?_method=DELETE' method="POST">
 	     	    <input type="submit" value="Delete" class="btn btn-danger">
 	     	  </form>
 	     	</td>
 	     </tr>
 	 </tbody>
</table>
<br>
<a href="/events/<%=event._id%>/edit">Edit this Event</a><br>
<a href="/calendar">To Calendar</a><br>
<a href="/events">To Events Listing</a><br>
<a href="/logout">Logout</a>
</div>
<% include ../partials/footer %>
